/* =============
    Typography
============= */
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}

h4{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
}

h5{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;  
}

h2{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 25px;
}

h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;

}

p{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}


button {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;

    p {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 15px;
    }
}


address{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;

}

form{
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;  
}