#header{

display: grid;
grid-template-columns: 1fr 1fr;
background-color: green;



nav{
    display: grid;
    grid-template-columns: 100%;
    background-color: black;
}

nav{
    display: grid;
    grid-template-columns: 1fr;
    background-color:gray;

}
}