#header{

display: grid;
grid-template-columns: 1fr 1fr;
background-color: black;

    nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: black;
    }
nav{
    display: grid;
    grid-template-columns: 1fr;
    background-color: grey;
    


}
}