#hero{
   
    display: grid;
    grid-template-columns: 1fr;

    div{
        display: grid;
        grid-template-columns: 1fr;
        background-color: #8f0000;
    }
    div{
        display: grid;
        grid-template-columns: 1fr;
        background-color: #b40000;
    }
}