#hero{
   
    display: grid;
    grid-template-columns: 1fr;

    section{
        display: grid;
        grid-template-columns: 1fr;
        
        div{
            background-color: #b40000;
            h4{color: white;
            
            }
            h5{color: white}
            a{color: white}
            padding: 10px;
            padding-bottom: 20px;

    
            &.left{
                background-color: #8f0000;
                color: white;

                
            }
        }
    
        @include md{
            grid-template-columns: 1fr 1fr;
    
            }

    }

    
}