#more{

display: grid;
grid-template-columns: 1fr;

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{

        display: grid;
        grid-template-columns: 1fr;

    }
}


















}