#subhero{

display: grid;
grid-template-columns:  1fr;

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    margin: 20px;



    div{
        display: grid;
        grid-template-columns: 1fr;  
        background-color: black;
        a{color: white}
        h2{color: white}
        padding: 16px

    }
}

    @include md{
        display: grid;
        grid-template-columns:  1fr 1fr;
        
        section{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: black;
            padding: 16px
        
        
            div{
                display: grid;
                grid-template-columns: 1fr;  
                background-color: black;
                margin: 20px 10px;
            }
                
            }
        }

   }
