#subhero{

display: grid;
grid-template-columns: 1fr 1fr;

section{
    div{
        display: grid;
        grid-template-columns: 50%;  
        background-color: black;
        h2{color: white}
        h5{color: white}
    }

    div{
        display: grid;
        grid-template-columns: 50%;   
        background-color: black;
        h2{color: white}
        h5{color: white}
    }


} 

section{
    div{
        display: grid;
        grid-template-columns: 50%;   
        background-color: black;
        h2{color: white}
        h5{color: white}
    }

    div{
        display: grid;
        grid-template-columns: 50%;   
        background-color: black;
        h2{color: white}
        h5{color: white}
        
    }


} 




}