/* =============
    Header
============= */
#header{

    display: grid;
    grid-template-columns: 1fr;
    background-color: black;

    nav{
        display: flex;
        background-color: black;
        img{
            width: 65px;
            height: 68px;
        
        }
    }

    nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;


    

}

@include md{
    grid-template-columns: 1fr;
    }

}