/* =============
    Header
============= */
#header{

display: grid;
grid-template-columns: 1fr;
background-color: black;

    nav{
        display: grid;
        grid-template-columns:  1fr;
        background-color: black;
        h1{color: white}

    }

    nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: black;
    

}

@include md{
    grid-template-columns: 1fr 1fr;
    }

}